<!-- Written by: Marc Labouchardiere (23857377) and Lewei Xu (23709058)-->
<!-- For updating the knowledge graph. -->
{% extends 'base.html' %}

{% block content %}
<section class="edit-data-hero">
    <div class="container centered-box">
        <h1>Edit Knowledge Graph</h1>
        
        <p>Class names: ["Procedure", "Item", "Part", "Tool", "Step", "Image"]</p>
        <p>Relations: ["has_name", "has_text", "step_uses_tool", "has_step", "has_image",
        "sub_procedure_of", "procedure_for", "part_of", "in_toolbox", "procedure_uses_tool"]</p>
        <p>Please read the user manual for more in-depth explanation.</p>
        <p>Note that when inputting into fields "class name" and "relation", the string must be an exact match to the ones specified above.</p>

        <div class="form-section">
            <h1>Add or Delete Class Instance</h1>
            <form method="POST">
                <input type="hidden" name="action" value="class_instance">

                <label for="class_name">Class Name:</label>
                <input type="text" name="class_name" required>

                <label for="class_uri">Class URI:</label>
                <input type="text" name="class_uri" required>

                <button type="submit" name="submit" value="add_class" class="cta-button">Add Class</button>
                <button type="submit" name="submit" value="delete_class" class="cta-button">Delete Class</button>
            </form>
        </div>

        <div class="form-section">
            <h1>Add or Delete Relation</h1>
            <form method="POST">
                <input type="hidden" name="action" value="relation">

                <label for="obj1">Object 1:</label>
                <input type="text" name="obj1" required>

                <label for="relation">Relation:</label>
                <input type="text" name="relation" required>

                <label for="obj2">Object 2:</label>
                <input type="text" name="obj2" required>

                <button type="submit" name="submit" value="add_relation" class="cta-button">Add Relation</button>
                <button type="submit" name="submit" value="delete_relation" class="cta-button">Delete Relation</button>
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="message-list">  <!-- No bullet points -->
                {% for message in messages %}
                    <li>{{ message }}</li>  <!-- Red and larger text -->
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</section>
{% endblock %}
